.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: "roboto", sans-serif;
  font-style: normal;
}

/*==========COMPL==========*/
*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: #212121;
}

.address {
  font-style: normal;
}

img {
  display: block;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-address-link:hover,
.header-address-link:focus,
.navigation-list-link:hover,
.navigation-list-link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.header-address-link,
.navigation-list-link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1600px;
  height: 80px;
  border: 1px solid #ececec;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list-link {
  padding-bottom: 32px;
  padding-top: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.address-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.address-list-item + .address-list-item {
  margin-left: 50px;
}

.header-address-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  align-items: center;
  fill: currentColor;
  width: 161px;
}

.address .navigation-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.header-envelope-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-smartphone-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: #757575;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

li:hover .header-smartphone-icon {
  fill: #2196f3;
}

li:hover .header-envelope-icon {
  fill: #2196f3;
}

li:hover .header-address-link {
  color: #2196f3;
}

main {
  width: 1600px;
  margin: 0 auto;
}

.hero {
  display: block;
  margin: 0 auto;
  max-width: 1600px;
  height: 600px;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/header-img/Img-header.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-img/Img-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .container {
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto;
  width: 700px;
}

.modal-btn {
  font-family: "roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  background-color: #2196f3;
  border-radius: 5px;
  border: 0px;
  margin-top: 30px;
  cursor: pointer;
}

.modal-btn:focus {
  outline: none;
}

.features .container {
  display: block;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features-list-item:not(:last-child) {
  margin-right: 30px;
}

.features-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.features-subtitle {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  width: 270px;
}

/*===========features-icon=============*/
.features-list-item-antenna::before {
  content: '';
  display: inline-block;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  background-image: url(../images/icon/antenna.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 30px;
}

.features-list-item-clock::before {
  content: '';
  display: inline-block;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  background-image: url(../images/icon/clock.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 30px;
}

.features-list-item-diagram::before {
  content: '';
  display: inline-block;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  background-image: url(../images/icon/diagram.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 30px;
}

.features-list-item-astronaut::before {
  content: '';
  display: inline-block;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  background-image: url(../images/icon/astronaut.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.activity-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 50px;
}

.activity-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.activity-list-item:not(:last-child) {
  margin-right: 30px;
}

.activity-label {
  position: relative;
}

.text-activity {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
}

.team {
  background: #f5f4fa;
}

.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: #212121;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-list-item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  width: 270px;
  max-height: 428px;
}

.team-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.team-list-subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: #757575;
}

.team-list-img {
  margin-bottom: 30px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 206px;
  margin-right: 32px;
  margin-left: 32px;
  margin-bottom: 30px;
}

.social-list-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #2196f3;
}

.social-list-link:hover .social-list-svg,
.social-list-link:focus .social-list-svg {
  fill: #ffffff;
}

.social-list-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  font-family: "raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  margin-right: 93px;
}

.logo-caption {
  color: #2196f3;
}

.logo-footer {
  font-family: "raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
}

.customers {
  width: 1600px;
  height: 370px;
}

.customers-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: #212121;
}

.customers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.customers-item {
  width: 170px;
  height: 90px;
}

.customers-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

.customers-item:not(:last-child) {
  margin-right: 30px;
}

.customers-item:nth-of-type(1) .customers-svg {
  width: 44px;
  height: 49px;
}

.customers-item:nth-of-type(2) .customers-svg {
  width: 40px;
  height: 52px;
}

.customers-item:nth-of-type(3) .customers-svg {
  width: 41px;
  height: 42px;
}

.customers-item:nth-of-type(4) .customers-svg {
  width: 79px;
  height: 42px;
}

.customers-item:nth-of-type(5) .customers-svg {
  width: 59px;
  height: 47px;
}

.customers-item:nth-of-type(6) .customers-svg {
  width: 88px;
  height: 45px;
}

.customers-svg {
  width: 170px;
  height: 90px;
  border-radius: 1px;
}

.footer {
  display: block;
  margin: 0 auto;
  width: 1600px;
  height: 252px;
  background-color: #2f303a;
}

.footer .container {
  padding: 60px 15px;
}

.address-footer {
  font-style: normal;
  margin-top: 20px;
}

.footer-list-item:not(:first-child) {
  margin-top: 9px;
}

.footer-list-item {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-link-item {
  color: #ffffff;
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-box {
  margin-right: 70px;
}

.social-list-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 206px;
  margin-top: 20px;
}

.social-list-link-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link-footer:hover,
.social-list-link-footer:focus {
  background-color: #2196f3;
}

.social-list-svg-footer {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer-form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 570px;
  height: 86px;
  margin-left: 93px;
}

.footer-wrapper {
  display: block;
}

.footer-form-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-input {
  font-family: "roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
}

.footer-input:focus {
  outline: none;
}

.btn-footer-form {
  width: 200px;
  height: 50px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin-left: 12px;
}

.footer-btn-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-left: 29px;
}

.btn-footer-form {
  position: relative;
}

.btn-footer-form:focus {
  outline: none;
}

.footer-btn-svg {
  position: absolute;
  top: 13px;
  right: 28px;
  fill: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms, -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.btn-close {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.btn-close {
  outline: none;
}

.icon-btn-close {
  width: 11px;
  height: 11px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover .icon-btn-close,
.btn-close:focus .icon-btn-close {
  fill: #2196f3;
}

.contact-form {
  width: 448px;
  height: 342px;
  margin: 0 auto;
}

.form-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 40px;
  margin-bottom: 12px;
}

.form-input {
  display: block;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  margin-top: 4px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label {
  display: block;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-label:not(:first-child) {
  padding-top: 10px;
}

.form-comment {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus,
.form-comment:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.contract-link {
  font-family: "roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196f3;
}

.form-checkbox {
  margin-bottom: 30px;
}

.btn-form {
  font-family: "roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  display: block;
  width: 200px;
  height: 50px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin: 0 auto;
  cursor: pointer;
  margin-top: 30px;
}

.btn-form:focus {
  outline: none;
}

.modal-checkbox-label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-checkbox-label::before {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 7px;
}

.form-checkbox:checked + .modal-checkbox-label::before {
  background-image: url(../images/modal/icon-check.svg);
  background-position: center;
  background-size: cover;
  background-color: #2196f3;
  border: none;
}

/*============FORM-SVG========*/
.contact-form-wrapper {
  display: block;
  position: relative;
}

.modal-form-svg {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .modal-form-svg {
  fill: #2196f3;
}

.studio {
  position: relative;
}

.studio::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 2px;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.portfolio {
  position: relative;
}

.portfolio::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 2px;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}
/*# sourceMappingURL=main.css.map */