.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: "roboto", sans-serif;
  font-style: normal;
}

body.modal-open {
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: #212121;
}

.address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.studio {
  position: relative;
}

.studio::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -28px;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.portfolio {
  position: relative;
}

.portfolio::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -28px;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

@media screen and (min-width: 1200px) {
  .studio {
    position: relative;
  }
  .studio::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -32px;
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
  }
  .portfolio {
    position: relative;
  }
  .portfolio::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -32px;
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
  }
}

.modal-btn {
  font-family: "roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  min-width: 200px;
  height: 50px;
  padding: 10px 32px;
  background-color: #2196f3;
  border-radius: 5px;
  border: 0px;
  margin-top: 30px;
  cursor: pointer;
}

.modal-btn:focus {
  outline: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.modal {
  position: absolute;
  max-width: 450px;
  height: 609px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0;
}

.btn-close {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  top: 8px;
  right: 8px;
  cursor: pointer;
  outline: none;
}

.icon-btn-close {
  width: 11px;
  height: 11px;
  fill: #000000;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover .icon-btn-close,
.btn-close:focus .icon-btn-close {
  fill: #2196f3;
}

.contact-form {
  width: 370px;
  height: 342px;
  margin: 0 auto;
}

.form-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 40px;
  margin-bottom: 12px;
  margin-right: 10px;
}

.form-input {
  display: block;
  width: 370px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  margin-top: 4px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.form-label {
  display: block;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label:not(:first-child) {
  padding-top: 10px;
}

.form-label:hover, .form-label:focus {
  color: #2196f3;
}

.form-comment {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  width: 370px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.contract-link {
  font-family: "roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
}

.form-checkbox {
  margin-bottom: 30px;
}

.btn-form {
  font-family: "roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  display: block;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin: 0 auto;
  cursor: pointer;
  margin-top: 30px;
}

.btn-form:focus {
  outline: none;
}

.modal-checkbox-label {
  display: inline-flex;
  align-items: center;
  font-family: "roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-checkbox-label::before {
  display: inline-flex;
  align-items: center;
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 7px;
}

.form-checkbox:checked + .modal-checkbox-label::before {
  background-image: url(../images/modal/icon-check.svg);
  background-position: center;
  background-size: cover;
  background-color: var(--accent-color);
  border: none;
}

/*============FORM-SVG========*/
.contact-form-wrapper {
  display: block;
  position: relative;
}

.modal-form-svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: #212121;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus ~ .modal-form-svg {
  fill: #2196f3;
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    height: 581px;
  }
  .contact-form {
    min-width: 448px;
    height: 342px;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }
  .form-input {
    min-width: 448px;
    height: 40px;
  }
  .form-comment {
    width: 448px;
    height: 120px;
  }
  .contract-link {
    font-size: 14px;
    line-height: 1.71;
  }
  .modal-checkbox-label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.logo {
  font-family: "raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-caption {
  color: #2196f3;
}

.logo-footer {
  font-family: "raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-top: 60px;
}

.social-list {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  width: 100%;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover, .social-list-link:focus {
  background-color: #2196f3;
}

.social-list-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover .social-list-svg,
.social-list-link:focus .social-list-svg {
  fill: #ffffff;
}

@media screen and (max-width: 1199px) {
  .social-list-link {
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .social-list {
    margin-bottom: 30px;
  }
}

.header-address-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  align-items: center;
  fill: currentColor;
  width: 161px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address-link:hover, .header-address-link:focus {
  color: #2196f3;
  fill: #2196f3;
}

li:hover .header-address-link {
  color: #2196f3;
}

.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-link:hover, .navigation-list-link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.header {
  display: flex;
  align-items: center;
  width: 1600px;
  height: 80px;
  border: 1px solid #ececec;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list-link {
  padding-bottom: 32px;
  padding-top: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.address-list {
  display: inline-flex;
  align-items: center;
  margin-left: auto;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.address-list-item + .address-list-item {
  margin-left: 50px;
}

.header-envelope-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

li:hover .header-envelope-icon {
  fill: #2196f3;
}

.header-smartphone-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

li:hover .header-smartphone-icon {
  fill: #2196f3;
}

.hero {
  text-align: center;
}

@media screen and (max-width: 480px) {
  .hero {
    min-width: 480px;
    width: 480px;
    width: 100%;
  }
}

.hero-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/hero/bg-mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-tablet.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/hero/bg-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/hero/bg-desktop@2x.jpg");
  }
}

@media screen and (max-width: 480px) {
  .features {
    min-width: 480px;
    width: 480px;
    width: 100%;
  }
}

.features-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #212121;
  margin-bottom: 10px;
}

.features-subtitle {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
}

.features-list-item-antenna::before {
  content: '';
  display: inline-block;
  width: 450px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  background-image: url(../images/icon/antenna.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.features-list-item-clock::before {
  content: '';
  display: inline-block;
  width: 450px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  background-image: url(../images/icon/clock.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.features-list-item-diagram::before {
  content: '';
  display: inline-block;
  width: 450px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  background-image: url(../images/icon/diagram.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.features-list-item-astronaut::before {
  content: '';
  display: inline-block;
  width: 450px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  background-image: url(../images/icon/astronaut.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-title {
    width: 354px;
    text-align: start;
  }
  .features-subtitle {
    width: 354px;
  }
  .features-list {
    display: flex;
    flex-wrap: wrap;
  }
  .features-list li {
    height: 251px;
  }
  .features-list-item-antenna {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .features-list-item-clock {
    margin-bottom: 30px;
  }
  .features-list-item-diagram {
    margin-right: 30px;
  }
  .features-list-item-antenna::before {
    content: '';
    display: inline-block;
    width: 354px;
    height: 120px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
    background-image: url(../images/icon/antenna.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .features-list-item-clock::before {
    content: '';
    display: inline-block;
    width: 354px;
    height: 120px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
    background-image: url(../images/icon/clock.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .features-list-item-diagram::before {
    content: '';
    display: inline-block;
    width: 354px;
    height: 120px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
    background-image: url(../images/icon/diagram.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .features-list-item-astronaut::before {
    content: '';
    display: inline-block;
    width: 354px;
    height: 120px;
    background-color: #f5f4fa;
    margin-bottom: 30px;
    background-image: url(../images/icon/astronaut.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media screen and (min-width: 1200px) {
  .features-list {
    display: flex;
    align-items: center;
  }
  .features-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .features-title {
    text-align: start;
  }
  .features-subtitle {
    width: 270px;
    margin: 0;
  }
  .features-list-item-antenna::before {
    content: '';
    width: 270px;
    margin-right: 30px;
  }
  .features-list-item-clock::before {
    content: '';
    width: 270px;
    margin-right: 30px;
  }
  .features-list-item-diagram::before {
    content: '';
    width: 270px;
    margin-right: 30px;
  }
  .features-list-item-astronaut::before {
    content: '';
    width: 270px;
  }
}

.activity {
  display: none;
}

@media screen and (min-width: 1200px) {
  .activity {
    display: flex;
  }
  .activity-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
    margin-bottom: 50px;
  }
  .activity-list {
    display: flex;
  }
  .activity-list-item:not(:last-child) {
    margin-right: 30px;
  }
  .activity-label {
    position: relative;
  }
  .text-activity {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    background: rgba(47, 48, 58, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
  }
}

.team {
  display: block;
  background: #f5f4fa;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .team {
    min-width: 480px;
    width: 480px;
    width: 100%;
  }
}

.team-title {
  font-weight: bold;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: #212121;
}

.team-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.team-list-img {
  margin-bottom: 30px;
}

.team-list-subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  color: #757575;
}

.team-list-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  .team-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .team-list-item {
    width: 354px;
  }
  .team-list-item:nth-child(2n) {
    margin-left: 30px;
  }
  .team-list-item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
    color: #212121;
  }
  .team-list {
    display: flex;
  }
  .team-list-item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 480px) {
  .customers {
    min-width: 480px;
    width: 480px;
  }
}

.customers-title {
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (max-width: 1199px) {
  .customers-title {
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .customers-title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 1199px) {
  .customers-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .customers-list {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .customers-item:nth-child(2n + 1) {
    margin-right: 30px;
    width: 210px;
    height: 90px;
  }
  .customers-item:nth-child(-n + 4) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customers-item {
    margin-right: 30px;
    width: 226px;
    height: 90px;
  }
  .customers-item:nth-child(3n + 3) {
    margin-right: 0px;
  }
  .customers-item:nth-child(-n + 4) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .customers-item {
    width: 170px;
    height: 90px;
  }
  .customers-item:not(:last-child) {
    margin-right: 30px;
  }
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover, .customers-link:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

@media screen and (max-width: 767px) {
  .customers-link {
    width: 210px;
    height: 90px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customers-link {
    width: 226px;
    height: 90px;
  }
}

@media screen and (min-width: 1200px) {
  .customers-link {
    width: 170px;
    height: 90px;
  }
}

.customers-svg {
  border-radius: 1px;
}

.customers-item:nth-of-type(1) .customers-svg {
  width: 44px;
  height: 49px;
}

.customers-item:nth-of-type(2) .customers-svg {
  width: 40px;
  height: 52px;
}

.customers-item:nth-of-type(3) .customers-svg {
  width: 41px;
  height: 42px;
}

.customers-item:nth-of-type(4) .customers-svg {
  width: 79px;
  height: 42px;
}

.customers-item:nth-of-type(5) .customers-svg {
  width: 59px;
  height: 47px;
}

.customers-item:nth-of-type(6) .customers-svg {
  width: 88px;
  height: 45px;
}

.customers-item:nth-of-type(1) .customers-svg {
  width: 44px;
  height: 49px;
}

.customers-item:nth-of-type(2) .customers-svg {
  width: 40px;
  height: 52px;
}

.customers-item:nth-of-type(3) .customers-svg {
  width: 41px;
  height: 42px;
}

.customers-item:nth-of-type(4) .customers-svg {
  width: 79px;
  height: 42px;
}

.customers-item:nth-of-type(5) .customers-svg {
  width: 59px;
  height: 47px;
}

.customers-item:nth-of-type(6) .customers-svg {
  width: 88px;
  height: 45px;
}

.footer {
  text-align: center;
  background-color: #2f303a;
}

@media screen and (max-width: 480px) {
  .footer {
    min-width: 480px;
    width: 480px;
    width: 100%;
  }
}

.address-footer {
  font-style: normal;
}

.footer-list-item {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-list-item:not(:first-child) {
  margin-top: 9px;
}

.footer-link-item {
  color: #ffffff;
}

.footer-link {
  color: rgba(255, 255, 255, 0.6);
}

.footer-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.social-list-footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link-footer:hover, .social-list-link-footer:focus {
  background-color: #2196f3;
}

.social-list-svg-footer {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer-form-wrapper {
  display: block;
  text-align: center;
}

.footer-form-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.form-footer {
  margin-top: 20px;
}

.footer-input {
  font-family: "roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
}

.footer-input:focus {
  outline: none;
}

.btn-footer-form {
  min-width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin-left: 12px;
  position: relative;
}

.btn-footer-form:focus {
  outline: none;
}

.footer-btn-text {
  display: flex;
  font-family: "roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-left: 29px;
}

.footer-btn-svg {
  position: absolute;
  top: 13px;
  right: 28px;
  fill: #ffffff;
}

@media screen and (max-width: 767px) {
  .footer {
    height: 603px;
  }
  .footer-box {
    padding-top: 60px;
  }
  .footer-input {
    width: 450px;
    height: 50px;
  }
  .footer-wrapper {
    display: block;
    width: 450px;
    height: 156px;
    margin: 0 auto;
  }
  .footer-icon {
    margin-top: 60px;
  }
  -form-wrapper {
    margin-top: 60px;
  }
  .footer-form-title {
    margin-top: 60px;
  }
  .address-footer {
    margin-top: 20px;
  }
  .btn-footer-form {
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    height: 463px;
  }
  .footer-box {
    padding-top: 60px;
  }
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer-input {
    max-width: 450;
    height: 50px;
    width: 100%;
    margin-top: 20px;
  }
  .footer-icon {
    margin-top: 60px;
  }
  .footer-form-wrapper {
    margin-top: 60px;
  }
  .address-footer {
    margin-top: 20px;
  }
  .form-footer {
    width: 450px;
    height: 156px;
    margin: 0 auto;
  }
  .btn-footer-form {
    margin-bottom: 60px;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 252px;
  }
  .footer-input {
    width: 358px;
    height: 50px;
    width: 100%;
  }
  .footer-box {
    text-align: start;
  }
  .form-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
  }
  .footer-wrapper {
    min-width: 570px;
  }
  .footer-form-title {
    text-align: start;
  }
  .footer-btn-svg {
    position: absolute;
    top: 13px;
    right: 28px;
    fill: #ffffff;
  }
}
/*# sourceMappingURL=main.css.map */