.logo {
  font-family: $secondary-font;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  margin-right: 93px;

  &-caption {
    color: $accent-color;
  }
  &-footer {
    font-family: $secondary-font;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #ffffff;
    margin-bottom: 20px;
  }
}
