.social-list {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  width: 100%;

  &-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: $accent-color;
    }
  }
}

.social-list-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .social-list-link:hover &,
  .social-list-link:focus & {
    fill: #ffffff;
  }
}
@media screen and (max-width: 1199px) {
  .social-list-link {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .social-list {
    margin-bottom: 30px;
  }
}
