body {
  font-family: $main-font;
  font-style: normal;
}
body.modal-open {
  overflow: hidden;
}
*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
  color: $title-color;
}
.address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
